* {
    text-align: center;
    margin: 0 auto;
}

#title {
    margin-top: 1%;
    margin-bottom: 1%;
}

#start {
    margin-bottom: 1%;
    font-size: 20px;
}

#score, #life {
    width: 50%;
}
#score {
    float: left;
}
#life {
    float: right;
}